body {
    margin: 0%;
}

.blue {
    background-color: blue;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.green {
    background-color: green;
    height: 100px;
}

.red {
    background-color: red;
    height: 100px;
}